@mixin text ($f-size,$f-family,$f-weight){
	font-size: $f-size;
	font-family: $f-family;
	font-weight: $f-weight;
}
nav{
	width: 100%;
	min-height: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	span{
		display: none;
	}
	h1{
		@include text(24px,"ribeye",400);
		color: #fff;
		line-height: 36px;
		letter-spacing: 1px;
	}
	ul{
		display: flex;
		align-items: center;
		gap: 50px;
		a{
			@include text(18px,"roboto",500);
			color: #fff;
			line-height: 27px;
			&:hover{
				color: #C9453B;
			}
		}
	}
}

@media (max-width: 990px) {
	nav{
		ul{
			display: none;
		}
	}
}
@media (max-width:990px) {
	nav{
		span{
			display: block;
			font-size: 24px;
			color: #fff;
			cursor: pointer;
		}
	}
}
@media (max-width:480px) {
	nav{
		h1,span{
			font-size: 18px;
		}
	}
}
