@mixin text ($f-size,$f-family,$f-weight){
	font-size: $f-size;
	font-family: $f-family;
	font-weight: $f-weight;
}
footer{
	width: 100%;
	padding-top: 140px;
	padding-bottom: 50px;
	display: flex;
	background: #2694990A;
	align-items: start;
	justify-content: center;
	gap: 150px;
	flex-wrap: wrap;
	.footer-box{
		display: flex;
		flex-direction: column;
		gap: 15px;
		h2{
			@include text(24px,"ribeye",400);
			letter-spacing: 1px;
		}
		p{
			@include text(18px,"roboto",400);
			letter-spacing: 1px;
		}
		h3{
			@include text(24px,"roboto",400);
		}
		
	}
}
form{
	display: flex;
	gap: 20px;
	input{
		padding: 10px 20px;
		border: 1px solid #000000;
		border-radius: 5px;
		@include text(16px,"roboto",400)
	}
}
.footer-icon{
	display: flex;
	gap: 15px;
	align-items: center;
	span{
		font-size: 20px;
	}
}