@import url(./location/location.css);
@import url(./news/news.css);
@import url(./offers/offers.css);

@mixin text ($f-size,$f-family,$f-weight){
	font-size: $f-size;
	font-family: $f-family;
	font-weight: $f-weight;
}
.main-News{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 56px;
	padding-top: 140px;
	padding-bottom: 140px;
}
.main-newsHeader{
	h2{
		@include text(43px,"gelasio",600);
		line-height: 60px;
		text-align: center;
	}
	max-width: 660px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	p{
	@include text(18px,"roboto",600);
	line-height: 29px;
	text-align: center;
	opacity: 0.6;
	}
}
.main-newsBox{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap: 30px;
	.main-newsLeft{
		max-width: 50%;
		display: flex;
		flex-direction: column;
		gap: 50px;
		img{
			width: 100%;
			max-height: 400px;
			border-radius: 10px;
		}
		.main-newsLeftText{
			max-width: 500px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			h3{
					@include text(20px,"gelasio",500);
					line-height: 32px;
			}
			p{
				@include text(18px,"roboto",400);
				opacity: 0.6;
			}
		}
	}
}
	.main-newsRight{
		max-width: 50%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		.main-newsRight-item{
			display: flex;
			align-items: center;
			gap: 30px;
			img{
				width: 100%;
				max-height: 201px;
				border-radius: 10px;
				display: flex;
				gap: 30px;
			}
		}
		.right-text{
			max-width: 250px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			h3{
					@include text(20px,"gelasio",500);
					line-height: 28px;
			}
			p{
				@include text(18px,"roboto",400);
				opacity: 0.6;
			}
		}
	}
@media (max-width: 600px) {
	h3{
		font-size: 14px;
		line-height: 22px;
}
p{
	font-size: 10px;
	line-height: 18px;
}
}